*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    background-image: url("./images/sarson_1.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.com-name{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    font-family: Arial, sans-serif;
}
.navsub{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li{
    margin-right: 30px;
}
.menu a{
    text-decoration: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 18px;
}
.hbtn{
    background-color: #fff;
    padding: 12px 20px;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: -20px;
    position: relative;
    top: -10px;
}
#last1{
    margin-top: 200px;
}
.hcontainer{
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: flex-end;
      padding-top: 200px;
}
.head{
    color: #fff;
}
.hhead{
    font-size: 20px;
    font-weight: 100;
}
.hhead1{
    font-size: 270px;
}
.container2{
    background-color: black;
    padding: 150px 120px;
}
.container2 h1{
    color: #fff;
    font-size: 46px;
    font-weight: 100;
}
.container2 button{
    margin-top: 30px;
}
.container3{
    background-color: black;
    padding-left: 40px;
}
.container4{
    background-color: black;
    padding-left: 240px;
}
.sbtn{
    background-color: rgb(54, 53, 53);
    color: #fff;
    padding: 8px;
    margin: 20px 0px;
    border: none;
    border-radius: 15px;
}
.rr{
    color: #fff;
    margin: 10px 0px 30px 0px;
    font-size: 35px;
}
.container3 button{
    margin-bottom: 20px;
}
.img1{
    padding-top: 40px;
}
.container6{
    background-color: black;
    padding: 50px 40px;
    color: #fff;
}
.container6 h1{
    width: 50%;
    font-size: 45px;
    padding-bottom: 50px;
    font-weight: 100;
}
.container6 h2{
    padding: 30px 0px;
    font-size: 35px;
    font-weight: 100;
}
.container7{
    background-color: black;
    color: #fff;
    padding: 40px 0px;
}
.seven{
    padding: 50px 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.seven h1{
    width: 50%;
    font-size: 46px;
    font-weight: 100;
}
.seven1{
    width: 50%;
}
.seven1 p{
    font-size: 20px;
}
.seven1 button{
    margin-top: 40px;
}
.foot{
    background-color: black;
    padding: 40px 40px;
    color: #fff;
}
.footul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-top: 30px;
}
.footul li a{
    color: #fff;
}
#foota{
    margin-right: 180px;
    text-decoration: none;

}