body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 10px 10px;
    overflow-x: scroll;
    overflow-y: scroll;
}
.smpm{
    display: flex;
    overflow:auto ;
}
.head{
    display: flex;
    justify-content: space-between;
}
.smpm input{
     height: 35px;
     width: 480px;
     margin-right: 10px;
     overflow-y: scroll;
}
.smpm button{
    height: 40px;
    width: 480px;
    background-color: green;
    color: white;
    border: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
    overflow-y: scroll;
}
th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #f2f2f2;
}
.checkbox1 input{
    color: rebeccapurple;
}
.check1{
    display: flex;
    flex-direction: column;
}
#myCheckbox{
    accent-color: red;
}
#myCheckbox1{
    accent-color: green;
}
input[type="checkbox"]#myCheckbox{
    -webkit-appearance: initial;
    appearance: initial;
    background: rgb(228, 225, 225);
    width: 18px;
    height: 18px;
    border: 3px solid white;
    position: relative;
}
input[type="checkbox"]:checked {
    background: red;
}
input[type="checkbox"]:checked:after {
    content: "x";
    color: #fd0303;
    padding-bottom: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.hide{
    display: none;
}
#formContainer {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
.head1{
    margin-top: 20px;
}
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
#name{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
}
.nameone{
    display: none;
}
  
