body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    padding: 10px 10px;
}
.smpm input{
     height: 35px;
     width: 280px;
     margin-right: 10px;
}
.smpm button{
    height: 40px;
    width: 280px;
    background-color: green;
    color: white;
    border: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th{
    background-color: #f2f2f2;
}
.checkbox1 input{
    color: rebeccapurple;
    background-color: red;
}
.check1{
    display: flex;
}
#myCheckbox{
    accent-color: red;
}
#myCheckbox1{
    accent-color: green;
}
input[type="checkbox"]#myCheckbox{
    -webkit-appearance: initial;
    appearance: initial;
    background: rgb(228, 225, 225);
    width: 18px;
    height: 18px;
    border: 3px solid white;
    position: relative;
}
input[type="checkbox"]:checked {
    background: red;
}
input[type="checkbox"]:checked:after {
    /* Heres your symbol replacement */
    content: "X";
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

  
